
body{
  /*position: relative;*/
  background: rgb(255, 104, 164);
  
  background-image: url("./squiggel.svg");
  background-repeat: no-repeat;
  background-size:cover;
  align-content: center;
}

a{
  text-decoration: none;
  color: rgb(25,21,100);
}

/*.squiggel{
  /*position: absolute;
  aspect-ratio: 700/560;
  
  background-color: black;
}*/
.wrapper{
  text-align: center;
  width: 80%;
  margin: 5% auto;
  color: rgb(25,21,100);
  background-color: rgba(255,0,0,0.3);
}

h2.projectHeader{
  text-align: left;
}

.boneSpace{
  height: 200px;
}

.button{
    background-color: transparent;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgb(53, 53, 53);
    color: rgb(25, 21, 100);
    padding: 15px;
    width: 210px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px;
    cursor: pointer;
    transition: background .8s ease;
}

.button:hover{
    background: rgba(100, 0, 0, .5);
}
