
body{
  /*position: relative;*/
  background: rgb(255, 104, 164);
  
  background-image: url("../img/squiggel.svg");
  background-repeat: no-repeat;
  background-size:cover;
  align-content: center;

  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: rgb(25,21,100);
}

/*.squiggel{
  /*position: absolute;
  aspect-ratio: 700/560;
  
  background-color: black;
}*/
.wrapper{
  text-align: center;
  width: 80%;
  margin: 5% auto;
  color: rgb(25,21,100);
  background-color: rgba(255,0,0,0.3);
}

h2.projectHeader{
  text-align: left;
}

.boneSpace{
  height: 200px;
}

.button{
    background-color: transparent;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgb(53, 53, 53);
    color: rgb(25, 21, 100);
    padding: 15px;
    width: 210px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px;
    cursor: pointer;
    transition: background .8s ease;
}

.button:hover{
    background: rgba(100, 0, 0, .5);
}

/* Container for the button and menu */
.menu-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

/* menu button */
.menu-button {
  background-color: rgba(248, 238, 238, 80);
  border-width: 3px;
  border-radius: 12px;
  border-color: rgb(53, 53, 53);
  color: rgb(25, 21, 100);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* menu */
.menu {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* menu items */
.menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of links on hover */
.menu a:hover {
  background-color: #f1f1f1;
}